.loadingDiv {
    text-align: center;
}
.loadingHeader .loaderDots{
        width: "100%";
        height: "100";
        display: "flex";
        justify-content: "center";
        align-items: "center";
        margin: auto;
}
